*{
    margin: 0;
}

body{
    background-color: #492718;
}


header{
    background-image: url(assets/backgroundHeader.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 0 0 10px 10px;
    .tituloSubtitulo{
        color: #dedede;
        font-family: "Isometra", serif;
        text-shadow: 4px 4px 8px black;
        text-align: center;
    }

    nav{
        display: flex;
        gap: 15px;
        padding: 10px;
        border-radius: 15px;
        background-color: #DDDDCF;
        list-style: none;
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-family: "Isometra", serif;
        font-size: xx-small;
    }
}


.card.destaque{
    display: flex;
    margin: 100px;
    background-color: #DDDDCF;
    padding: 80px;
    border-radius: 100px;
    gap: 50px;
    
    .poster{
        width: 500px;
        border: 10px solid #2e1c2b;
        border-radius: 30px;
    }

    .tituloPoster{
       font-family: "Isometra", serif;
       font-size: 115px;
    }

    .detalhes{
        display: flex;
        gap: 50px;
    }

    .descriçãoDestaque{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .ano{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 60px;
    }
    
    
    .genero{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
        color: #242a36;
    }

    .sinopse{
        background-color: #C7B89C;
        padding: 20px;
        border-radius: 30px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
    }
     

} 

.starIcon{
    width: 80px;
}

h2{
    font-size: 100px;
    padding: 100px 20px 50px 20px;
    text-align: center;
    text-shadow: 4px 4px 8px black;
    color: #CDB0A1; 
    text-decoration: underline
;
}


.grade{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px;
    margin: 100px;
    background-color: #DDDDCF;
    border-radius: 40px;
    
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .poster{
        width: 300px;
        border: 10px solid #2e1c2b;
        border-radius: 30px;
    }

    .tituloPoster{
        font-family: "Isometra", serif;
        font-size: 15px;
    }

    .ano{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .genero{
        display: flex;
        align-items: center;
        gap: 20px;
        list-style: none;
        padding: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #242a36;
        }
}



.tabela{
    background-color: #DDDDCF;
    width: 90%;
    margin: auto;
    padding: 40px;
    border-collapse: collapse;
    

    th, td{
        text-align: center;
        border: 2px solid;
        padding: 20px;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    th{
        background-color: #C7B89C;
    }
}
 
.footerTitulos{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}


footer{
    display: flex;
    margin: auto;
    background-color: #DDDDCF;
    width: 90%;
    border-radius: 60px;
    font-family: Arial, Helvetica, sans-serif;

    .imgUneb{
        width: 200px;
        float: right;
        border: 2px solid white;
        border-radius: 20px;
        margin: 10px;
    }

    .sobre{
        background-color: #C7B89C;
        margin: 50px;
        width: 50%;
        font-size: 50px;
        text-align: justify;
        padding: 50px;
        border-radius: 60px;
    }

    .Contato{
        margin: 50px;
        width: 50%;
        font-size: 50px;
        background-color: #C7B89C;
        padding: 50px;
        border-radius: 60px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .icone{
        width: 50px;
    }

    
}


