*{
    margin: 0;
}

body{
    background-color: #242a36;
}


header{
    background-image: url(assets/backgroundHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 0 0 10px 10px;
    .tituloSubtitulo{
        color: #dedede;
        font-family: "Isometra", serif;
        text-shadow: 4px 4px 8px black;
       text-align: center;
    }

    nav{
        display: flex;
        gap: 15px;
        padding: 10px;
        border-radius: 15px;
        background-color: lightgrey;
        list-style: none;
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-family: "Isometra", serif;
        font-size: xx-small;
    }
}


.card.destaque{
    display: flex;
    margin: 100px;
    background-color: darkgrey;
    padding: 80px;
    border-radius: 100px;
    gap: 50px;
    
    .poster{
        width: 500px;
        border: 10px solid #2e1c2b;
        border-radius: 30px;
    }

    .tituloPoster{
       font-family: "Isometra", serif;
       font-size: 115px;
    }

    .detalhes{
        display: flex;
        gap: 50px;
    }

    .descriçãoDestaque{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .ano{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 60px;
    }
    
    
    .genero{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
        color: #242a36;
    }

    .sinopse{
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 30px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
    }
     

} 

.grade{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px;
    margin: 100px;
    background-color: darkgray;
    border-radius: 40px;
    
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .poster{
        width: 300px;
        border: 10px solid #2e1c2b;
        border-radius: 30px;
    }

    .tituloPoster{
        font-family: "Isometra", serif;
        font-size: 15px;
    }

    .ano{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .genero{
        display: flex;
        align-items: center;
        gap: 20px;
        list-style: none;
        padding: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #242a36;
        }
}