body{
    background-color: #dedede;
}

h1,h2{
    text-align: center;
}

section{
    background-color: darkgray;
    width: 300px;
    height: 360px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
}

div{
    background-color: lightgray;
    text-align: center;
    border-radius: 10px;
    height: 160px;
    width: 250px;
    margin: auto;
}

#Resultados{
    text-align: left;
    margin-left: 20px;
}
footer{
    text-align: center;

}