body{
    background-color: #dedede;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2{
    color: gray;
}

p{
    color: orange;
}

#subtitulo{
    color:rgb(192, 119, 24);
}

.subtitulo{
    background-color: #fff3cd;
    color: #664d03;
    padding: 8px;
    border: 1px solid #ffeeba;
    border-radius: 4px;
}

.caixa3{
    background-color: lightgray;
    width: 300px;
}

.lista1{
    list-style-type:square ;
}

.lista2{
    list-style-type:upper-roman;
}

.tabela{
    border-collapse:collapse;
    width: 30%;
}

.tabela th, .tabela td{
    border: 1px solid #f00909;
    padding: 8px;
    text-align: center;
}

.caixa4{
    background-color: #dedede;
}